# System
.DS_Store
Thumbs.db

# IDE
.vscode/

# Composer
/vendor/
composer.lock

# Environment
.env

# PHP-CS-Fixer cache
.php-cs-fixer.cache

# OpenServer
.osp/

# Sandbox
/public/sandbox/

# Logs
/storage/logs/

# Node
node_modules/
package-lock.json

# Public assets
/public/assets/

# Other system files
*.swp
*.swo

# Backup files
*~
