<!-- Головна -->
<div class="btn btn-toggle text-white mb-2 w-100 text-start">
    <a href="/cabinet" class="text-white text-decoration-none ms-2">Кабінет</a>
</div>

<div class="btn btn-toggle text-white mb-2 w-100 text-start">
    <a href="#" class="text-white text-decoration-none ms-2">Листування</a>
</div>

<div class="btn btn-toggle text-white mb-2 w-100 text-start">
    <a href="#" class="text-white text-decoration-none ms-2">Мої проєкти</a>
</div>

<div class="btn btn-toggle text-white mb-2 w-100 text-start">
    <a href="#" class="text-white text-decoration-none ms-2">Мої фінанси</a>
</div>

<div class="btn btn-toggle text-white mb-2 w-100 text-start">
    <a href="#" class="text-white text-decoration-none ms-2">Профіль</a>
</div>

<div class="btn btn-toggle text-white mb-2 w-100 text-start">
    <a href="#" class="text-white text-decoration-none ms-2">Моя компанія</a>
</div>

<div class="btn btn-toggle text-white mb-2 w-100 text-start">
    <a href="#" class="text-white text-decoration-none ms-2">Команда турботи</a>
</div>

<div class="btn btn-toggle text-white mb-2 w-100 text-start">
    <a href="#" class="text-white text-decoration-none ms-2">Налаштування</a>
</div>

<div class="btn btn-toggle text-white mb-2 w-100 text-start">
    <a href="#" class="text-white text-decoration-none ms-2">Що нового?</a>
</div>